[submodule "rl-prompt"]
	path = rl-prompt
	url = https://github.com/mingkaid/rl-prompt
[submodule "Prompt-OIRL"]
	path = Prompt-OIRL
	url = https://github.com/vanderschaarlab/Prompt-OIRL
[submodule "Prompt-R1"]
	path = Prompt-R1
	url = https://github.com/QwenQKing/Prompt-R1
